
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: rgb(36,51,78);
background: linear-gradient(0deg, rgba(36,51,78,1) 0%, rgba(253,187,45,1) 100%);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: rgb(36,51,78);
background: linear-gradient(0deg, rgba(36,51,78,1) 0%, rgba(253,187,45,1) 100%);
}

 body {
            background-image: url("./181/assets/img/login.png");
            background-repeat: repeat-x;
         }